@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;
@model JobBoard.DATA.EF.OpenPosition


@{
    ViewBag.Title = $"{Model.Position.Title}";
}

<div class="portfolio-description">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">@Html.DisplayNameFor(model => model.LocationId)</h5>

                @if ((bool)(Model.IsRemote))
                {
                    <p class="card-text">Remote</p>
                }
                else
                {
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Location.FullLocation)
                    </p>
                }

                <h5 class="card-title">@Html.DisplayNameFor(model => model.OpenPositionId)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.OpenPositionId)</p>

                <h5 class="card-title">@Html.DisplayNameFor(model => model.Location.StoreNumber)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Location.StoreNumber)</p>

                <h5 class="card-title">@Html.DisplayNameFor(model => model.EmploymentType)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.EmploymentType)</p>

                <h5 class="card-title">@Html.DisplayNameFor(model => model.Duration)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Duration)</p>


                <a href="@Url.Action("CreateApp", new { id = Model.OpenPositionId })" class="btn btn-primary">Apply</a>
                @*<a href="@Url.Action("Create", "Applications")" class="btn btn-primary">Save</a>*@

                <!-- #region Get current user -->
                @{
                    JobBoardEntities db = new JobBoardEntities();

                    string userID = User.Identity.GetUserId();

                    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();
                }
                <!-- #endregion -->

                @if ((Request.IsAuthenticated && Model.Location.ManagerId == currentUser.UserId) || (Request.IsAuthenticated && User.IsInRole("Admin")))
                {
                    <a href="@Url.Action("Edit", "OpenPositions", new { id = Model.OpenPositionId })" class="btn btn-primary">Edit</a>
                }

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayNameFor(model => model.Position.JobDescription)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Position.JobDescription)</p>
                @Html.Partial("Delete")
            </div>
        </div>
    </div>
</div>


@Html.ActionLink("Back to Job Board", "Index")