@model PagedList.IPagedList<JobBoard.DATA.EF.OpenPosition>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;

@{
    ViewBag.Title = "Job Board";
}

@section searchBar{
    <div id="header" class="d-none d-lg-flex align-items-center">
        <div class="container">
            @using (Html.BeginForm("Index", "OpenPositions", FormMethod.Get, new { @class = "" }))
            {
                <div class="col-md-10 search-container">
                    @Html.TextBox("SearchString", ViewBag.SearchString as string, new { @class = "form-control input-large", @placeholder = "Search", @id = "search-bar" })
                    <input type="submit" value="Search" class="btn btn-primary btn-rounded" />
                </div>
            }
        </div>
    </div>
}

@if (Model.Count() == 0)
{
    <h3 class="text-center">No results found for: <em>@Request.QueryString["SearchString"].ToString()</em></h3>
}
else
{
    foreach (var item in Model)
    {
        #region Get current user
        JobBoardEntities db = new JobBoardEntities();

        string userID = User.Identity.GetUserId();

        UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();
        #endregion

        <div class="panel panel-primary">
            <div class="panel-heading">
                <a href="@Url.Action("Details", new { id = item.OpenPositionId })">
                    @Html.DisplayFor(modelItem => item.Position.Title) - @Html.DisplayFor(modelItem => item.OpenPositionId)
                </a>

                @if ((Request.IsAuthenticated && item.Location.ManagerId == currentUser.UserId) || (Request.IsAuthenticated && User.IsInRole("Admin")))
                {
                    <div class="boardCrud">
                        @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId })
                    </div>
                }

            </div>
            <div class="panel-body">
                @Html.DisplayFor(modelItem => item.Position.JobDescription)
            </div>
        </div>
    }


}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.SearchString }))

