@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;
@model IEnumerable<JobBoard.DATA.EF.OpenPosition>

@{
    ViewBag.Title = "Your Positions";
}

@section head{
    <section class="breadcrumbs">
        <div class="container offset-1">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@foreach (var item in Model)
{
    #region Get current user
    JobBoardEntities db = new JobBoardEntities();

    string userID = User.Identity.GetUserId();

    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();
    #endregion

    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <a href="@Url.Action("Details", new { id = item.OpenPositionId })">
                @Html.DisplayFor(modelItem => item.Position.Title) - @Html.DisplayFor(modelItem => item.OpenPositionId)
            </a>

            @if ((Request.IsAuthenticated && item.Location.ManagerId == currentUser.UserId) || (Request.IsAuthenticated && User.IsInRole("Admin")))
            {
            <div class="boardCrud">
                <a href="@Url.Action("PositionApplications", "Applications", new { id = item.OpenPositionId })">View Applicants</a> <i class="fa fa-user-circle-o" aria-hidden="true"></i> |
                @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionId }) <i class="fa fa-pencil-square-o" aria-hidden="true"></i> |
                @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionId }) <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            }

        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.Position.JobDescription)
        </div>
    </div>
}
