@model JobBoard.DATA.EF.Location

@{
    ViewBag.Title = "Add Location";
}

@section head{
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StoreNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StoreNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StoreNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.State,
               new SelectList(new[]{
                   #region States
                new {Text="Alabama", Value="AL"},
        new  { Text="Alaska", Value="AK"},
        new { Text="Arizona", Value="AZ"},
        new { Text="Arkansas", Value="AR"},
        new { Text="California", Value="CA"},
        new { Text="Colorado", Value="CO"},
        new { Text="Connecticut", Value="CT"},
        new { Text="District of Columbia", Value="DC"},
        new { Text="Delaware", Value="DE"},
        new { Text="Florida", Value="FL"},
        new { Text="Georgia", Value="GA"},
        new { Text="Hawaii", Value="HI"},
        new { Text="Idaho", Value="ID"},
        new { Text="Illinois", Value="IL"},
        new { Text="Indiana", Value="IN"},
        new { Text="Iowa", Value="IA"},
        new { Text="Kansas", Value="KS"},
        new { Text="Kentucky", Value="KY"},
        new { Text="Louisiana", Value="LA"},
        new { Text="Maine", Value="ME"},
        new { Text="Maryland", Value="MD"},
        new { Text="Massachusetts", Value="MA"},
        new { Text="Michigan", Value="MI"},
        new { Text="Minnesota", Value="MN"},
        new { Text="Mississippi", Value="MS"},
        new { Text="Missouri", Value="MO"},
        new { Text="Montana", Value="MT"},
        new { Text="Nebraska", Value="NE"},
        new { Text="Nevada", Value="NV"},
        new { Text="New Hampshire", Value="NH"},
        new { Text="New Jersey", Value="NJ"},
        new { Text="New Mexico", Value="NM"},
        new { Text="New York", Value="NY"},
        new { Text="North Carolina", Value="NC"},
        new { Text="North Dakota", Value="ND"},
        new { Text="Ohio", Value="OH"},
        new { Text="Oklahoma", Value="OK"},
        new { Text="Oregon", Value="OR"},
        new { Text="Pennsylvania", Value="PA"},
        new { Text="Rhode Island", Value="RI"},
        new { Text="South Carolina", Value="SC"},
        new { Text="South Dakota", Value="SD"},
        new { Text="Tennessee", Value="TN"},
        new { Text="Texas", Value="TX"},
        new { Text="Utah", Value="UT"},
        new { Text="Vermont", Value="VT"},
        new { Text="Virginia", Value="VA"},
        new { Text="Washington", Value="WA"},
        new { Text="West Virginia", Value="WV"},
        new { Text="Wisconsin", Value="WI"},
        new { Text="Wyoming", Value="WY"},
                #endregion
                }, "Value", "Text", Model),
                new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagerId, "Manager", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ManagerId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManagerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
    <div style="padding-bottom: 15em;"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
