@model IEnumerable<JobBoard.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}

@section banner{
    <section id="hero" class="d-flex align-items-center location-hero">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>
                Welcome to <span>GlobalSystems</span>. Jobs
            </h1>
            <h2>Keep it in the family</h2>
            <div class="d-flex">
                <a href="@Url.Action("About","Home")" class="btn-get-started scrollto">About Us</a>
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
            </div>
        </div>
    </section>
}

@section head{
    <section class="breadcrumbs">
        <div class="container offset-1">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="@Url.Action("Create", "Locations")" class="btn btn-primary" style="margin-bottom: 20px;">Add New</a>
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="card location-card">
            <div class="card-body">
                <div class="col-md-6" style="height: 100%;">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.FullLocation)</h2>
                    <p class="card-text">@Html.DisplayNameFor(model => model.StoreNumber): @Html.DisplayFor(model => item.StoreNumber)</p>
                    <div style="position: absolute; bottom: 0px;">
                        <a href="#" class="btn btn-primary">View Positions</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="card-img-top location-img-card" src="~/Content/locationImages/@Html.DisplayFor(modelItem => item.LocationImage)" />
                </div>
            </div>

        </div>
    </div>
}

