@model IEnumerable<JobBoard.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}

@section banner{
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>
                Welcome to <span>BizLand</span>
            </h1>
            <h2>We are team of talanted designers making websites with Bootstrap</h2>
            <div class="d-flex">
                <a href="#about" class="btn-get-started scrollto">Get Started</a>
                <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
            </div>
        </div>
    </section>
}


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <a href="@Url.Action("Create", "Create")" class="btn btn-primary">Create New</a>
}

<table class="table display" id="table_id">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreNumber)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tbody>       
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id=item.LocationId })">
                    @Html.DisplayFor(modelItem => item.FullLocation)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreNumber)
            </td>
        </tr>
    </tbody>
    }

</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
