@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        JobBoardEntities db = new JobBoardEntities();

        string userID = User.Identity.GetUserId();

        UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();

        string userName = "Guest";

        if (currentUser != null)
        {
            userName = currentUser.FirstName;
        }

        <li class="drop-down">
            <a href="">Hello @userName</a>
            <ul>
                <li><a href="@Url.Action("Details", "UserDetails")/@currentUser.UserId">Profile</a></li>
                <li><a href="#">Your Applications</a></li>
                @if (Request.IsAuthenticated && User.IsInRole("Admin") || Request.IsAuthenticated && User.IsInRole("Manager"))
                {
                    <li><a href="@Url.Action("Index", "OpenPositions")">Your Positions</a></li>
                    <li><a href="@Url.Action("Create", "PerformanceReviews")">Performance Reviews</a></li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li><a href="@Url.Action("Index", "RolesAdmin")">View Roles</a></li>
                    <li><a href="@Url.Action("Index", "UsersAdmin")">View Users</a></li>
                    <li><a href="@Url.Action("Create", "Location")">Add a Location</a></li>
                }
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        Log off <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </li>
    }
}
else
{
    <li>
        <a href="/Account/Register" id="registerLink">
            Register
            <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="/Account/Login" id="loginLink">
            Login
            <i class="fa fa-sign-in" aria-hidden="true"></i>
        </a>
    </li>
}
