@model JobBoard.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Message Confirmation";
}

@section head{
    <section class="breadcrumbs" id="breadcrumb-link">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h4>
                    <a href="@Url.Action("Details", "UserDetails", new { id = Model.ReceiverId })">Return to @Model.ReceiverName's Profile |</a>
                    <a href="@Url.Action("Index")"> Return to Homepage</a>
                </h4>
            </div>
        </div>
    </section>
}

<h2>Your message to @Model.ReceiverName (@Model.ReceiverEmail) was sent successfully.</h2>


