@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;
@model IEnumerable<JobBoard.DATA.EF.Application>

@{
    ViewBag.Title = "Applications";
}

@section head{
    <section class="breadcrumbs">
        <div class="container offset-1">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}

<!-- #region Get current user -->
@{
    JobBoardEntities db = new JobBoardEntities();

    string userID = User.Identity.GetUserId();

    UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();
}
<!-- #endregion -->


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>

            <th>
                Applicant's Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
            </th>

            <th>
                Contact
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>

                <td>
                    <a href="@Url.Action("Details", "UserDetails", new { id = item.UserId })">
                        @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)  <i class="far fa-question-circle icon" title="@item.ApplicationStatu.StatusDescription"></i>
                </td>

                <td>
                    <a href="@Url.Action("Contact", "Home", new { senderId = currentUser.UserId, receiverId = item.UserId})">
                        @Html.DisplayFor(modelItem => item.UserDetail.AspNetUser.Email)
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
