@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;
@model IEnumerable<JobBoard.DATA.EF.Application>

@{
    OpenPosition openPosition = ViewBag.OpenPosition;
    ViewBag.Title = $"Applications Submitted for: {openPosition.PositionName}";
}

@section head{
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}


    <table class="table display" id="table_id">
        <thead>
            <tr>

                <th>
                    Applicant's Name
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ApplicationDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                </th>

            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>

                    <td>
                        @Html.DisplayNameFor(model => model.UserDetail.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationDate)
                    </td>

                    <td>
                        <a href="@Url.Action("Details", "OpenPositions", new { id = item.OpenPositionId})">
                            @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title) - #@Html.DisplayFor(modelItem => item.OpenPositionId)
                        </a>

                    </td>

                    <td title="@item.ApplicationStatu.StatusDescription">
                        @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                    </td>
                </tr>
            </tbody>
        }

    </table>