@using Microsoft.AspNet.Identity;
@using JobBoard.DATA.EF;
@model IEnumerable<JobBoard.DATA.EF.Application>

@{
    //Get OpenPosition from the Controller and assign to local variable
    OpenPosition openPosition = ViewBag.OpenPosition;
    ViewBag.Title = $"Applications Submitted for: {openPosition.Position.Title} #{openPosition.OpenPositionId}";
}

@section head{
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}


    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ApplicationDate)
                </th>

                <th>
                    Applicant's Name
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                </th>

                <th>
                    Contact
                </th>

            </tr>
        </thead>

        <!-- #region Get current user -->
        @{
            JobBoardEntities db = new JobBoardEntities();

            string userID = User.Identity.GetUserId();

            UserDetail currentUser = db.UserDetails.Where(ud => ud.UserId == userID).FirstOrDefault();
        }
        <!-- #endregion -->


        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationDate)
                    </td>

                    <td>
                        <a href="@Url.Action("Details", "UserDetails", new { id = item.UserId })">
                            @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                        </a>
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)  <i class="far fa-question-circle icon" title="@item.ApplicationStatu.StatusDescription"></i>
                    </td>

                    <td>
                        <a href="@Url.Action("Contact", "Home", new { senderId = currentUser.UserId, receiverId = item.UserId})" title="Contact">
                            @Html.DisplayFor(modelItem => item.UserDetail.AspNetUser.Email)
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
