@model IEnumerable<JobBoard.DATA.EF.Application>

@{
    ViewBag.Title = "Your Applications";
}

@section head{
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </section>
}


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>

                <td>
                    <a href="@Url.Action("Details", "OpenPositions", new { id = item.OpenPositionId})">
                        @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title) - #@Html.DisplayFor(modelItem => item.OpenPositionId)
                    </a>

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)  <i class="far fa-question-circle icon" title="@item.ApplicationStatu.StatusDescription"></i>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
